!! URxvt Appearance

URxvt*background: #202020
URxvt*foreground: White

URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 10
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

*.font: xft:Terminus:style=Regular:size=10
*.boldFont: xft:Terminus:style=Bold:size=10
*.italicFont: xft:Terminus:style=Regular:size=10
*.boldItalicFont: xft:Terminus:style=Bold:size=10

urxvt.color0: #202020
urxvt.color1: #B21818
urxvt.color2: #18B218
urxvt.color3: #B26818
urxvt.color4: #1818B2
urxvt.color5: #B218B2
urxvt.color6: #18B2B2
urxvt.color7: #B2B2B2
urxvt.colorBD: #FFFFFF
urxvt.color8: #686868
urxvt.color9: #FF5454
urxvt.color10: #54FF54
urxvt.color11: #FFFF54
